@import "./reset-context";

.table {
    reset-context();
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid rgb(221, 221, 221);
    font-size: 13px;
    font-family: Arial;
    tr {
        width: 100%;
        table-layout: fixed;
    }
    th, td {
        padding: 8px 12px;
    }
    thead {
        tr {
            border-bottom: 1px solid rgb(221, 221, 221);
        }
    }
}

.table--fixed-header {
    thead, tbody {
        display: block;
    }
    tbody {
        max-height: 100px;
        overflow-y: auto;
    }
    tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
}

.table--empty {
    td {
        text-align: center;
    }
}

.table--light {
    background-color: #f5f5f5;
    &.table--hoverable {
        &:not(.table--empty):not(.table--loading) {
            tbody {
                tr:hover {
                    background-color: #eee;
                }
            }
        }
    }
}

.table--dark {
    color: #fff;
    background-color: #191919;
    &.table--hoverable {
        &:not(.table--empty):not(.table--loading) {
            tbody {
                tr:hover {
                    background-color: #666;
                }
            }
        }
    }
}

.pagination {
    margin: 5px 0;
    button {
        color: #222;
        border-color: #ccc;
        background-color: #fff;
        padding: 5px 12px;
        font-size: 13px;
        line-height: 20px;
        min-width: 60px;
        cursor: pointer;
        text-align: center;
        & + button {
            margin-left: -1px;
        }
        &:first-child {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        &:last-child {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
        &:hover {
            background-color: #f4f4f4;
        }
        &:focus {
            outline: 0;
        }
        &:active {
            background-color: #eee;
            border-color: #bbb;
            box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset;
        }
        &:disabled {
            cursor: not-allowed;
            opacity: .5;
            background-color: #ffffff;
        }
    }
}

.position-middle-container {
    position: relative;
}

.position-middle-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
