.table---Rs0PK {
  box-sizing: border-box;
  line-height: 20px;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-size: 13px;
  font-family: Arial;
}
.table---Rs0PK *,
.table---Rs0PK *:before,
.table---Rs0PK *:after {
  box-sizing: inherit;
}
.table---Rs0PK tr {
  width: 100%;
  table-layout: fixed;
}
.table---Rs0PK th,
.table---Rs0PK td {
  padding: 8px 12px;
}
.table---Rs0PK thead tr {
  border-bottom: 1px solid #ddd;
}
.table--fixed-header---24bQL thead,
.table--fixed-header---24bQL tbody {
  display: block;
}
.table--fixed-header---24bQL tbody {
  max-height: 100px;
  overflow-y: auto;
}
.table--fixed-header---24bQL tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.table--empty---2R2ZO td {
  text-align: center;
}
.table--light---2ppIY {
  background-color: #f5f5f5;
}
.table--light---2ppIY.table--hoverable---1rTy0:not(.table--empty---2R2ZO):not(.table--loading---3Q2tD) tbody tr:hover {
  background-color: #eee;
}
.table--dark---2hzT1 {
  color: #fff;
  background-color: #191919;
}
.table--dark---2hzT1.table--hoverable---1rTy0:not(.table--empty---2R2ZO):not(.table--loading---3Q2tD) tbody tr:hover {
  background-color: #666;
}
.pagination---DNQ61 {
  margin: 5px 0;
}
.pagination---DNQ61 button {
  color: #222;
  border-color: #ccc;
  background-color: #fff;
  padding: 5px 12px;
  font-size: 13px;
  line-height: 20px;
  min-width: 60px;
  cursor: pointer;
  text-align: center;
}
.pagination---DNQ61 button + button {
  margin-left: -1px;
}
.pagination---DNQ61 button:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination---DNQ61 button:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.pagination---DNQ61 button:hover {
  background-color: #f4f4f4;
}
.pagination---DNQ61 button:focus {
  outline: 0;
}
.pagination---DNQ61 button:active {
  background-color: #eee;
  border-color: #bbb;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
}
.pagination---DNQ61 button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  background-color: #fff;
}
.position-middle-container---NAmQr {
  position: relative;
}
.position-middle-content---36xYz {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

