@import "reset-context";

.table {
    reset-context();
    table-layout: fixed;
    border-collapse: collapse;
    tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    th, td {
        border: 1px solid #ccc;
    }
}

.table--fixed-header {
    thead, tbody {
        display: block;
    }
    tbody {
        max-height: 100px;
        overflow-y: auto;
    }
    tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
}

.table--hoverable {
    tbody {
        tr:hover {
            background-color: #e6f4fc;
        }
    }
}

.table--light {
    background-color: #f5f5f5;
}

.table--dark {
    color: #fff;
    background-color: #191919;
}

.position-middle-container {
    position: relative;
}

.position-middle-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
